<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
    <groups>
        <run>
            <include name="Smoke"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="com.automation.testng.Listeners"/>
    </listeners>
    <parameter name="username" value="chrome"/>


    <test name="LoginAndLogoutTest">
        <classes>
            <class name="com.automation.testng.LoginTest"/>
            <class name="com.automation.testng.ParameterTest"/>
        </classes>
    </test>

    <test name="OrderProcessing">
        <classes>
            <class name="com.automation.testng.OrderConfirmationTest"/>
            <class name="com.automation.testng.CartPageTest"/>
        </classes>
    </test>
</suite>